@charset "UTF-8";
/* ----------------------------------------- */
/*  Premade colors                           */
/* ----------------------------------------- */
.light {
  color: lightgray;
}

.bg-light {
  background: lightgray;
}

.darkgray {
  color: #23221d;
}

.bg-darkgray {
  background: #23221d;
  color: #fff;
}

.bg-dark {
  background: #464331c4;
  color: #fff;
}

.darkslate {
  color: darkslategray;
}

.bg-darkslate {
  background: darkslategray;
  color: #fff;
}

.darkgreen {
  color: #003c1e;
}

.bg-darkgreen {
  background: #003c1e;
  color: #fff;
}

.darkblue {
  color: midnightblue;
}

.bg-darkblue {
  background: midnightblue;
  color: #fff;
}

.blue {
  color: #009ee0;
}

.bg-blue {
  background: #009ee0;
  color: #fff;
}

.green {
  color: #44a12b;
}

.bg-green {
  background: #44a12b;
  color: #fff;
}

.black {
  color: #000;
}

.bg-black {
  background: #000;
  color: #fff;
}

.red {
  color: #cd071e;
}

.bg-red {
  background: #cd071e;
  color: #fff;
}

.purple {
  color: purple;
}

.bg-purple {
  background: purple;
  color: #fff;
}

/* ----------------------------------------- */
/*  LOCAL FONTS                             */
/* ----------------------------------------- */
@font-face {
  font-family: "AGaramondPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AGaramondPro-Regular.otf");
}

@font-face {
  font-family: "AGaramondPro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AGaramondPro-Bold.otf");
}

@font-face {
  font-family: "AGaramondPro";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/AGaramondPro-BoldItalic.otf");
}

@font-face {
  font-family: "AGaramondPro";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/AGaramondPro-Italic.otf");
}

@font-face {
  font-family: "CharlemagneStd";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CharlemagneStd-Bold.otf");
}

@font-face {
  font-family: "PermanentMarker";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PermanentMarker-Regular.ttf");
}

@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/modesto-condensed/modesto-condensed.woff2") format("woff2");
}

@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("../../../fonts/modesto-condensed/modesto-condensed-bold.woff2") format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIipYSxP.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIGpYSxP.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIupYSxP.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIWpYQ.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ----------------------------------------- */
/*  TEXT STYLES                             */
/* ----------------------------------------- */
.empty {
  color: #23221d;
  font-style: italic;
}

strong {
  font-weight: bold;
}

/* Global styles */
.window-app a:hover {
  text-shadow: 0 0 8px #4f7783;
}

.window-app .rollable:hover, .window-app .rollable:focus {
  text-shadow: 0 0 8px #4f7783;
  cursor: pointer;
}

.window-app.aria.sheet.actor {
  min-width: 765px;
  width: 765px;
  overflow: hidden;
}

.window-app.aria.sheet.item {
  min-width: 430px;
  overflow: hidden;
}

/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */
.grid {
  display: grid;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.grid .gridheader {
  font-weight: bold;
}

.grid .gridrow {
  display: grid;
  height: 24px;
  margin: 0 0 1px 0;
  padding: 0;
}

.grid .gridcell {
  text-align: center;
  margin: 0 1px 1px 0;
  padding: 3px;
  height: 24px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.grid .no-border {
  border: none !important;
}

.grid .gridcell-sm {
  font-weight: lighter;
}

.grid-1col {
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col-150 {
  grid-column: span 6 / span 6;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr;
}

.grid-6col-200 {
  grid-column: span 6 / span 6;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flexrow > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexrow .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexrow .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flexrow .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flexrow .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flexrow .flex5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flexrow .flex6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.flexrow .flex7 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.flexrow .flex8 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.flexrow .flex9 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.flexcol > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexcol .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexcol .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flexcol .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flexcol .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.left {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-wrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.chat-card {
  font-style: normal;
  font-size: 14px;
}

.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}

.chat-card .card-header img {
  margin-right: 5px;
  display: block;
  max-width: 64px;
  max-height: 128px;
  width: auto;
  height: auto;
}

.chat-card .card-header .item-img {
  max-width: 64px;
  max-height: 64px;
  margin-right: 5px;
  margin-left: 5px;
}

.chat-card .card-header .item-name {
  line-height: 48px;
}

.chat-card .card-header h3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
}

.chat-card .card-header h2 {
  max-height: 27px;
}

.chat-card .card-header .damage {
  color: orangered;
  font-weight: bold;
}

.chat-card .card-header .critical {
  color: green;
  font-weight: bold;
}

.chat-card .card-header .fumble {
  color: red;
  font-weight: bold;
}

.chat-card .card-header .success {
  color: darkgreen;
  font-weight: bold;
}

.chat-card .card-header .failure {
  color: darkred;
  font-weight: bold;
}

.chat-card .card-header .roll {
  color: darkslategrey;
  font-weight: bold;
}

.chat-message.message-header.message-sender {
  color: red;
}

/* Styles limited to aria sheets */
.aria {
  /* Form Groups */
  /*
 Placeholders
 */
}

.aria.actor {
  /* ----------------------------------------- */
  /*  Layout                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Layout                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sidebar                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Custom classes                           */
  /* ----------------------------------------- */
}

.aria.actor .window-content {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.aria.actor .window-content > form {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.aria.actor .window-content > form .wrap {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.aria.actor .window-content > form .wrap .header {
  min-height: 45px;
  height: 45px;
  max-height: 45px;
}

.aria.actor .window-content > form .wrap .header #banner {
  max-height: 45px;
}

.aria.actor .window-content > form .wrap .header #banner-left {
  min-height: 3px;
  height: 3px;
  max-height: 45px;
}

.aria.actor .window-content > form .wrap .header #banner-right {
  float: right;
  min-height: 3px;
  height: 3px;
  max-height: 45px;
}

.aria.actor .window-content > form .wrap .header #banner-bot-left {
  min-height: 3px;
  height: 3px;
  max-height: 45px;
}

.aria.actor .window-content > form .wrap .header #banner-bot-right {
  float: right;
  min-height: 3px;
  height: 3px;
  max-height: 45px;
}

.aria.actor .window-content > form .wrap .header #logo-banner {
  max-width: 63px;
  max-height: 50px;
}

.aria.actor .window-content > form .wrap .header #logo-banner > img {
  min-width: 63px;
  width: 63px;
  max-width: 63px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
}

.aria.actor .window-content > form .wrap .header #logo-orbe {
  max-width: 83px;
  max-height: 66px;
}

.aria.actor .window-content > form .wrap .header #logo-orbe > img {
  min-width: 83px;
  width: 83px;
  max-width: 83px;
  min-height: 66px;
  height: 66px;
  max-height: 66px;
}

.aria.actor .window-content > form .wrap #logo-sceptre {
  max-width: 42px;
  max-height: 162px;
}

.aria.actor .window-content > form .wrap #logo-sceptre > img {
  min-width: 42px;
  width: 42px;
  max-width: 42px;
  min-height: 162px;
  height: 162px;
  max-height: 162px;
}

.aria.actor .window-content > form .wrap .main {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  margin: 0 0 0 0;
  height: calc(100% - 315px);
  min-height: calc(100% - 315px);
  max-height: calc(100% - 315px);
}

.aria.actor .window-content > form .wrap .main #banner-top {
  min-width: 32px;
  width: 32px;
  max-width: 32px;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

.aria.actor .window-content > form .wrap .main .stats {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 330px;
  height: 330px;
  max-height: 330px;
}

.aria.actor .window-content > form .wrap .main .pos_relative {
  position: relative;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

.aria.actor .window-content > form .wrap .main .carac {
  min-width: 162px;
}

.aria.actor .window-content > form .wrap .main .caracvalue {
  min-width: 36px;
  width: 36px;
  max-width: 36px;
}

.aria.actor .window-content > form .wrap .main .caracname {
  min-width: 120px;
  width: 120px;
  max-width: 120px;
  font-size: 20px;
}

.aria.actor .window-content > form .wrap .main .hpcol {
  min-width: 140px;
}

.aria.actor .window-content > form .wrap .main .degatcol {
  min-width: 140px;
}

.aria.actor .window-content > form .wrap .main .attrvertalign {
  position: absolute;
  top: 50%;
  /* poussé de la moitié de hauteur du référent */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* tiré de la moitié de sa propre hauteur */
}

.aria.actor .window-content > form .wrap .main .sidebar {
  max-width: 250px;
  min-width: 50px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 100%;
  height: 100%;
  max-height: 330px;
  padding: 0 0px 0 0px;
}

.aria.actor .window-content > form .wrap .main .sidebar .profession-img {
  cursor: pointer;
  border: none;
  max-height: 330px;
}

.aria.actor .window-content > form .wrap .main .detail_row {
  max-height: 69px;
}

.aria.actor .window-content > form .wrap .main .competence_row {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

.aria.actor .window-content > form .wrap .main .description_row {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: calc(100% - 330px);
  height: calc(100% - 330px);
  max-height: calc(100% - 330px);
}

.aria.actor .window-content > form .wrap .main .editor {
  margin: 0;
  overflow: hidden;
  min-height: calc(100% - 30px);
  height: calc(100% - 30px);
  max-height: calc(100% - 30px);
  border: 1px solid #736953a6;
}

.aria.actor .window-content > form .wrap .main .editor .editor-content {
  padding: 5px;
  margin: 0;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.aria.actor .window-content > form .wrap .main .content {
  margin: 0;
  padding: 5px 5px 5px 5px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.aria.actor .window-content > form .wrap .main .content .top {
  padding: 0;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body {
  padding: 0;
  margin: 0;
  min-height: calc(100% - 28px);
  height: calc(100% - 28px);
  max-height: calc(100% - 28px);
  overflow: auto;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0 0 0 0;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab .coin {
  margin-left: 10px;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab .coin-field {
  min-width: 50px;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab.competences {
  overflow: auto;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab.competences .competence-toolbar {
  height: 25px;
  padding: 0;
  margin: 0;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab.competences .competence-toolbar .competence-tools {
  height: 25px;
  padding: 0;
  margin: 0;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab.competences .competence-toolbar .competence-tools .competence-tool {
  height: 20px;
  padding: 2px;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab.competences .competence-list {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

.aria.actor .window-content > form .wrap .main .content .sheet-body .tab.description {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

.aria.actor .table-header {
  font-weight: bold;
  min-height: 28px;
  height: 28px;
  max-height: 28px;
}

.aria.actor .half-spacer {
  min-height: 14px;
  height: 14px;
  max-height: 14px;
}

.aria.actor .spacer {
  min-height: 28px;
  height: 28px;
  max-height: 28px;
}

.aria.actor .layout {
  padding: 5px;
}

.aria.actor .weapon-image {
  background-image: url("../ui/icons/red_31.jpg");
}

.aria.actor .locked {
  cursor: not-allowed;
  color: lightgray;
}

.aria.actor .unlocked {
  cursor: pointer;
  color: #4b4a44;
}

.aria.actor .window-content > form .wrap {
  color: #000;
  background: url("../ui/background.jpg");
  background-size: cover;
  font-family: "AGaramondPro", serif;
  font-weight: bolder;
  font-size: 16px;
}

.aria.actor .window-content > form .wrap #logo-banner > img {
  border: none;
}

.aria.actor .window-content > form .wrap #logo-orbe > img {
  border: none;
}

.aria.actor .window-content > form .wrap #logo-sceptre > img {
  border: none;
}

.aria.actor .window-content > form .wrap .field-label {
  background: none;
  margin: 0;
  min-height: 28px;
  padding: 5px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  vertical-align: middle;
}

.aria.actor .window-content > form .wrap .field-label-icon-attack {
  margin-bottom: 20px;
  margin-right: 5px;
  min-width: 42px;
  width: 42px;
  max-width: 42px;
}

.aria.actor .window-content > form .wrap .field-label-icon-hp {
  margin-bottom: 27px;
  margin-right: 5px;
  min-width: 42px;
  width: 42px;
  max-width: 42px;
}

.aria.actor .window-content > form .wrap .field-label-icon-hit {
  margin-bottom: -2px;
  margin-right: 5px;
  min-width: 42px;
  width: 42px;
  max-width: 42px;
}

.aria.actor .window-content > form .wrap .field-label-icon-prot {
  margin-bottom: 5px;
  margin-right: 5px;
  min-width: 42px;
  width: 42px;
  max-width: 42px;
}

.aria.actor .window-content > form .wrap .field-value {
  width: 100%;
  min-height: 26px;
  height: 26px;
  max-height: 26px;
  vertical-align: middle;
  padding: 5px;
  border: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
  color: #4f7783;
  font-weight: 700;
  font: bold 20px "Caveat", cursive;
}

.aria.actor .window-content > form .wrap .field-value.charname {
  font-size: 30px;
  min-height: 34px;
}

.aria.actor .window-content > form .wrap .empty {
  background-color: #4f7783;
  color: darkred;
  min-height: 30px;
  min-width: 200px;
  padding-top: 5px;
}

.aria.actor .window-content > form .wrap .profession {
  width: 100%;
  min-height: 26px;
  height: 26px;
  max-height: 26px;
  vertical-align: middle;
  padding: 5px;
  border: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
  color: #4f7783;
  font-weight: 700;
  font: bold 30px "Caveat", cursive;
}

.aria.actor .window-content > form .wrap .capa_score {
  padding: 0 0 0 0;
}

.aria.actor .window-content > form .wrap .capa_percent {
  padding-top: 3px;
  font-size: 16px;
}

.aria.actor .window-content > form .wrap .origine {
  margin-top: 20px;
}

.aria.actor .window-content > form .wrap .origine_name {
  vertical-align: middle;
  margin-top: -10px;
  padding: 0;
}

.aria.actor .window-content > form .wrap .icon_d100 {
  background: center/contain no-repeat url("../ui/d100.png");
  min-width: 16px;
  width: 16px;
  max-width: 16px;
  min-height: 16px;
  height: 16px;
  max-height: 16px;
  margin-top: 9px;
}

.aria.actor .window-content > form .wrap .cancel_margin_top {
  margin-top: 3px;
}

.aria.actor .window-content > form .wrap .competence_name {
  margin: 0 0 0 0;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  position: relative;
}

.aria.actor .window-content > form .wrap .competence_name .comp_tooltiptext {
  visibility: hidden;
  width: 500px;
  background: url("../ui/fond_hover_comp.png");
  background-size: cover;
  color: #fffdea;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 182%;
  margin-left: 0px;
  opacity: 0;
}

.aria.actor .window-content > form .wrap .competence_name:hover .comp_tooltiptext {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.aria.actor .window-content > form .wrap .competence_name:hover .comp_tooltiptext p {
  margin: 0 5px 0 5px;
  text-shadow: initial;
  cursor: auto;
  font-weight: 100;
  line-height: 18px;
}

.aria.actor .window-content > form .wrap .competence_name:hover .comp_tooltiptext h1 {
  margin: 0 5px 0 5px;
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
  border-bottom: 1px solid #000000;
}

.aria.actor .window-content > form .wrap .competence_name .compspe_tooltiptext {
  visibility: hidden;
  width: 445px;
  background: url("../ui/fond_hover_comp.png");
  background-size: cover;
  color: #fffdea;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: 0%;
  left: 0%;
  margin-left: -465px;
  opacity: 0;
}

.aria.actor .window-content > form .wrap .competence_name:hover .compspe_tooltiptext {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.aria.actor .window-content > form .wrap .competence_name:hover .compspe_tooltiptext p {
  margin: 0 5px 0 5px;
  text-shadow: initial;
  cursor: auto;
  font-weight: 100;
  line-height: 18px;
}

.aria.actor .window-content > form .wrap .competence_name:hover .compspe_tooltiptext h1 {
  margin: 0 5px 0 5px;
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
  border-bottom: 1px solid #000000;
}

.aria.actor .window-content > form .wrap .item-delete:hover {
  text-shadow: 0 0 8px #cd071e;
}

.aria.actor .window-content > form .wrap .header #banner-left {
  margin-top: 30px;
  background: url("../ui/deco-aria.png");
}

.aria.actor .window-content > form .wrap .header #banner-right {
  margin-top: 30px;
  background: url("../ui/deco-aria.png");
}

.aria.actor .window-content > form .wrap .header #banner-bot-left {
  margin-top: 50px;
  background: url("../ui/deco-aria.png");
}

.aria.actor .window-content > form .wrap .header #banner-bot-right {
  margin-top: 50px;
  background: url("../ui/deco-aria.png");
}

.aria.actor .window-content > form .wrap .main #banner-top {
  margin-top: 30px;
  background: center/contain no-repeat url("../ui/deco-aria-vert.png");
}

.aria.actor .window-content > form .wrap .main .content .drop-field {
  background-color: rgba(255, 255, 255, 0);
}

.aria.actor .window-content > form .wrap .main .content .drop-field .field-value {
  background: transparent;
}

.aria.actor #life_icon {
  background: center/contain no-repeat url("../ui/pv.png");
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 30px;
}

.aria.actor #hit_icon {
  background: center/contain no-repeat url("../ui/blessure.png");
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 30px;
}

.aria.actor #protection_icon {
  background: center/contain no-repeat url("../ui/protection.png");
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 30px;
}

.aria.actor #degat_icon {
  background: center/contain no-repeat url("../ui/degats.png");
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  min-width: 112px;
  width: 112px;
  max-width: 112px;
  font-size: 30px;
}

.aria.actor .area-value {
  border: none;
  background: #fff;
  font-size: 1em;
}

.aria.actor .ellipsis {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.aria.actor .charlemagne {
  font: 14px "CharlemagneStd", serif;
}

.aria.actor .titre-general {
  font-size: 20px;
}

.aria.actor .box-shadow {
  -webkit-box-shadow: 1px 1px 2px gray;
  box-shadow: 1px 1px 2px gray;
}

.aria.actor .field-area {
  border: none;
  width: 100%;
  vertical-align: middle;
  background: transparent;
  font-family: "AGaramondPro", serif;
  font-size: 13px;
}

.aria.actor .compendium-pack {
  cursor: pointer;
  min-height: 26px;
}

.aria.actor .row {
  margin-top: 1px;
  background: transparent;
}

.aria.actor .cell {
  margin-left: 1px;
}

.aria.actor .btn {
  cursor: pointer;
  font-family: "AGaramondPro", serif;
  color: #464331c4;
  border: 1px solid #736953a6;
  -webkit-box-shadow: 0 0 10px #00000052 inset;
  box-shadow: 0 0 10px #00000052 inset;
  background: rgba(0, 0, 0, 0.05);
  margin-left: 1px;
}

.aria.actor .btn:hover {
  color: #464331c4;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  border: 1px outset #736953a6;
}

.aria.actor .btn:active {
  border: 1px inset #736953a6;
  background: rgba(0, 0, 0, 0.3);
  color: #464331c4;
}

.aria.actor .tabs {
  font: 14px "AGaramondPro", serif;
  color: #464331c4;
  text-align: center;
  margin: 0 0;
}

.aria.actor .tabs .item {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  border: 1px solid #736953a6;
  margin: 0;
  height: 28px;
  -webkit-box-shadow: 0 0 10px #00000052 inset;
  box-shadow: 0 0 10px #00000052 inset;
  /*padding: 3px 3px 0 3px;*/
  background: rgba(0, 0, 0, 0.05);
}

.aria.actor .tabs .item:hover {
  color: #464331c4;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.aria.actor .tabs .item.active {
  color: #464331c4;
  border: 1px inset #736953a6;
  background: #4f778377;
  text-shadow: none;
}

.aria.actor .origines-controls,
.aria.actor .profession-controls {
  color: #464331c4;
  visibility: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18px;
  flex: 0 0 18px;
  border: 1px solid transparent;
}

.aria.actor div:hover > div.origines-controls,
.aria.actor div:hover > div.profession-controls {
  visibility: visible;
}

.aria.actor .sidebar .charname {
  font-family: "PermanentMarker", cursive;
  font-size: 2.5em;
  -webkit-text-fill-color: #fff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #003c1e;
  -webkit-font-smoothing: antialiased;
  text-shadow: 3px 3px 10px #000;
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 80px;
  /*color: $c-darkgreen;*/
  background-color: transparent;
}

.aria.actor .inventory h2 {
  font-family: "AGaramondPro", serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #464331c4;
  border-bottom: 1px solid lightgray;
}

.aria.actor label.input-label {
  border: 1px solid red;
  text-align: center;
  vertical-align: center;
  padding-bottom: 7px;
  margin: 0;
}

.aria.actor .readonly {
  -webkit-box-shadow: 0 0 10px #00000052 inset;
  box-shadow: 0 0 10px #00000052 inset;
  cursor: not-allowed;
}

.aria.actor .label-text {
  font-family: "AGaramondPro", serif;
  font-size: 14px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0;
  height: 28px;
  -webkit-box-shadow: 0 0 10px #00000052 inset;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 3px 3px 0 3px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background: none;
}

.aria.actor strong {
  font-weight: bold;
}

.aria.actor .collapsed {
  display: none;
}

.aria.item {
  /* ----------------------------------------- */
  /*  Layout                                   */
  /* ----------------------------------------- */
}

.aria.item .window-content {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background: url("../ui/background.jpg") no-repeat white;
  font-size: 13px;
  color: #000;
  background: url("../ui/background.jpg");
  background-size: cover;
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
}

.aria.item .window-content .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aria.item .window-content .sheet-header > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aria.item .window-content .sheet-header img.profession {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  max-width: 64px;
  height: 64px;
  -o-object-fit: contain;
  object-fit: contain;
  border: none;
}

.aria.item .window-content .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}

.aria.item .window-content .sheet-header .header-details h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}

.aria.item .window-content .sheet-header .header-details h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}

.aria.item .window-content .sheet-header .header-details .item-subtitle {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
}

.aria.item .window-content .sheet-header .header-details .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}

.aria.item .window-content .sheet-header .header-details .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}

.aria.item .window-content .sheet-header .header-details .summary {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #003700;
  border-bottom: none;
}

.aria.item .window-content .sheet-header .header-details .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #003700;
  line-height: 34px;
}

.aria.item .window-content .sheet-header .header-details .summary li:last-child {
  border-right: none;
}

.aria.item .window-content .sheet-navigation {
  background-image: url("../ui/deco-aria.png");
  background-repeat: repeat-x;
  background-position: top;
  margin-top: -2px;
  margin-bottom: 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}

.aria.item .window-content .sheet-navigation .item {
  height: 35px;
  line-height: 37px;
  margin: 5px 24px 0 24px;
  border-bottom: 3px solid #b5b3a4;
  font-size: 18px;
}

.aria.item .window-content .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}

.aria.item .window-content .sheet-body {
  overflow: auto;
  min-height: calc(100% - 120px);
  height: calc(100% - 120px);
  max-height: calc(100% - 120px);
  margin-left: 5px;
  /* ----------------------------------------- */
  /*  Item Details Form                        */
  /* ----------------------------------------- */
}

.aria.item .window-content .sheet-body .item-properties {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}

.aria.item .window-content .sheet-body .item-properties .form-group {
  margin: 0;
}

.aria.item .window-content .sheet-body .item-properties .form-group label {
  line-height: 20px;
}

.aria.item .window-content .sheet-body .item-properties .form-group input {
  text-align: right;
}

.aria.item .window-content .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aria.item .window-content .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

.aria.item .window-content .sheet-body .description {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.aria.item .window-content .sheet-body .description .editor {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.aria.item .window-content .sheet-body .description .editor .editor-content {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.aria.item .window-content .sheet-body.details {
  padding: 10px;
}

.aria.item .window-content .sheet-body.details input[type="text"],
.aria.item .window-content .sheet-body.details input[type="number"],
.aria.item .window-content .sheet-body.details select {
  height: 24px;
  background: rgba(0, 0, 0, 0.05);
}

.aria.item .window-content .sheet-body.details .form-group span {
  text-align: center;
  line-height: 24px;
}

.aria.item .window-content .sheet-body.details .form-group.input-select select {
  -webkit-box-flex: 1.8;
  -ms-flex: 1.8;
  flex: 1.8;
}

.aria.item .window-content .sheet-body.details .form-group.input-select-select select {
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}

.aria.item .window-content .sheet-body.details .form-group.uses-per input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aria.item .window-content .sheet-body.details .form-group.uses-per span {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16px;
  flex: 0 0 16px;
}

.aria.item .window-content .sheet-body.details .form-group.uses-per select {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.aria.item .window-content .sheet-body.details span.sep {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8px;
  flex: 0 0 8px;
}

.aria.item .window-content .sheet-body.details .prepared {
  -webkit-box-flex: 1.3 !important;
  -ms-flex: 1.3 !important;
  flex: 1.3 !important;
  text-align: right;
  padding-right: 10px;
}

.aria.item .window-content .sheet-body.details .spell-materials {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin: 0.25em 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.aria.item .window-content .sheet-body.details .spell-materials label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  text-align: right;
  margin-right: 5px;
  font-size: 12px;
  line-height: 24px;
}

.aria.item .window-content .sheet-body.details .spell-materials input[type="text"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  margin-right: 10px;
}

.aria.item .window-content h4.damage-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
}

.aria.item .window-content .damage-parts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aria.item .window-content .damage-parts .damage-part {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0;
}

.aria.item .window-content .damage-parts .damage-part input {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.aria.item .window-content .damage-parts .damage-part select {
  margin-left: 5px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aria.item .window-content .damage-control {
  width: 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
}

.aria.item .window-content .recharge.form-group span {
  text-align: right;
  padding-right: 3px;
}

.aria.item .window-content .recharge.form-group input[type="text"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  text-align: center;
}

.aria.item .window-content .recharge.form-group label.checkbox {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.aria.item .window-content .recharge.form-group label.checkbox input {
  width: 16px;
  height: 16px;
  top: 4px;
}

.aria.item .window-content .weapon-properties label.checkbox {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 98px;
  flex: 0 0 98px;
}

.aria.item .window-content .dragging {
  outline: 1px dotted gray;
}

.aria input[readonly="true"] {
  border: none;
  color: dimgray;
  cursor: not-allowed;
  width: 100%;
  vertical-align: middle;
  background: transparent;
}

.aria input[type="text"],
.aria input[type="number"],
.aria input[type="text"]:hover,
.aria input[type="number"]:hover,
.aria input[type="text"]:focus,
.aria input[type="number"]:focus {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.aria input:disabled,
.aria select:disabled,
.aria textarea:disabled {
  color: #4b4a44;
}

.aria input:disabled:hover,
.aria select:disabled:hover,
.aria textarea:disabled:hover,
.aria input:disabled:focus,
.aria select:disabled:focus,
.aria textarea:disabled:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}

.aria button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}

.aria select {
  color: #191813;
  font-family: "AGaramondPro", serif;
  font-size: 14px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  width: 100%;
  border: none;
  border-radius: 0;
}

.aria label.checkbox {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
}

.aria label.checkbox > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  position: relative;
  top: 4px;
}

.aria label.checkbox.right > input[type="checkbox"] {
  margin: 0 0 0 2px;
}

.aria .form-group label {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}

.aria .form-group .form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.aria .form-group .form-fields > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 3px 0 0;
}

.aria .form-group .form-fields > *:last-child {
  margin-right: 0;
}

.aria .form-group .form-fields > * .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aria .form-group .form-fields > * .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.aria .form-group .form-fields > * .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.aria .form-group .form-fields > * .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.aria .form-group .form-fields label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin: 0;
}

.aria .form-group .form-fields label.checkbox {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  text-align: left;
}

.aria .form-group.stacked label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin: 0;
}

.aria .form-group.stacked label.checkbox {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  text-align: left;
}

.aria .form-header {
  margin: 0 0 0 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  max-height: 29px;
}

.aria .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.aria ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
  /* Firefox */
}

.aria ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
  /* Firefox */
}

.aria :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
  /* Firefox */
}

.aria ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
  /* Firefox */
}

.aria ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
  /* Firefox */
}

.aria :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
}

.aria ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgray;
}

.aria input::-webkit-input-placeholder {
  color: lightgray;
}

.aria input::-moz-placeholder {
  color: lightgray;
}

.aria input:-ms-input-placeholder {
  color: lightgray;
}

.aria input::-ms-input-placeholder {
  color: lightgray;
}

.aria input::placeholder {
  color: lightgray;
}

.aria nav.sheet-tabs {
  border: none;
  height: 30px;
}

.aria nav.sheet-tabs.tabs {
  font: 14px "AGaramondPro", serif;
  color: #464331c4;
  text-align: center;
  border: none;
}

.aria nav.sheet-tabs.tabs .item {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
  border: 1px solid #736953a6;
  margin: 0;
  height: 28px;
  -webkit-box-shadow: 0 0 10px #00000052 inset;
  box-shadow: 0 0 10px #00000052 inset;
  /*padding: 3px 3px 0 3px;*/
  background: rgba(0, 0, 0, 0.05);
}

.aria nav.sheet-tabs.tabs .item:hover {
  color: #464331c4;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.aria nav.sheet-tabs.tabs .item.active {
  color: #464331c4;
  border: 1px inset #736953a6;
  background: #4f778377;
  text-shadow: none;
}

.aria .currencies {
  margin: 0 0 5px 0;
  padding: 5px;
}

.aria .inventory-list:before,
.aria .inventory-list:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.aria .inventory-list:after {
  clear: both;
}

.aria .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  scrollbar-width: thin;
  color: #7a7971;
}

.aria .inventory-list .item {
  line-height: 25px;
  max-height: 25px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.aria .inventory-list .item:last-child {
  border-bottom: none;
}

.aria .inventory-list .item .item-name {
  cursor: pointer;
  max-height: 25px;
  overflow: hidden;
}

.aria .inventory-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22px;
  flex: 0 0 22px;
  background-size: 22px;
  margin-right: 5px;
  padding: 1px;
}

.aria .inventory-list .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.aria .inventory-list .item .item-name i.attuned {
  color: #7a7971;
}

.aria .inventory-list .item .item-uses input {
  width: 24px;
  text-align: center;
}

.aria .inventory-list .item .item-properties {
  margin-top: 3px;
}

.aria .inventory-list .item .item-recharge {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: right;
  font-size: 11px;
  color: #7a7971;
  white-space: nowrap;
}

.aria .inventory-list .inventory-header {
  margin-top: 2px;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}

.aria .inventory-list .inventory-header h3 {
  margin: 0 0 0 0;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.aria .inventory-list .item-name {
  color: #000;
  border-right: 1px solid #c9c7b8;
}

.aria .inventory-list .item-name .item-category {
  text-align: left;
  padding-right: 5px;
  font-weight: 100;
}

.aria .inventory-list .item-detail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  font-size: 12px;
  margin-top: 4px;
  color: #000;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  max-height: 25px;
}

.aria .inventory-list .item-detail:last-child {
  border-right: none;
}

.aria .inventory-list .item-detail.item-action {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.aria .inventory-list .item-weight {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}

.aria .inventory-list .item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aria .inventory-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-height: 25px;
}

.aria .inventory-list .item-controls > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aria .inventory-list .item-controls .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aria .inventory-list .item-controls .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.aria .inventory-list .item-controls .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.aria .inventory-list .item-controls .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.aria .inventory-list .item-controls .item-control {
  margin-top: 6px;
}

.aria .inventory-list .item-controls a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22px;
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
  color: #000;
}

.aria .inventory-list .item-summary {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #c9c7b8;
}
