<div class="form-group">
    <label>Protection</label>
    <div class="form-fields">
        {{log data}}
            <input name="data.defBase" type="number" value="{{data.defBase}}" placeholder="{{localize "ARIA.ui.defBase"}}" data-dtype="Number">
    </div>
</div>
