<div class="form-group">
    <label>Protection</label>
    <div class="form-fields">
            <input name="system.defBase" type="number" value="{{system.defBase}}" placeholder="{{localize "ARIA.ui.defBase"}}" data-dtype="Number">
    </div>
</div>
