<div class="form-group">
    <label>{{localize "ARIA.ui.range"}}</label>
    <div class="form-fields">
        <input name="data.range" type="text" value="{{item.data.range}}" placeholder="Range" data-dtype="String">
    </div>
</div>
