<div class="form-group">
    <label>{{localize "ARIA.ui.dmgBase"}}</label>
    <div class="form-fields">
        <input name="data.dmgBase" type="text" value="{{data.dmgBase}}" placeholder="{{localize "ARIA.ui.dmgBase"}}" data-dtype="String">
    </div>
</div>
