
<div class="attrvertalign col_carac">
    <div id="carac_img" ></div>

 <div class="carac_block" >
        {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-str.hbs"}}
        {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-dex.hbs"}}
        {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-end.hbs"}}
        {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-int.hbs"}}
        {{#if (isAriaTypeSetting "aria")}}
        {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-cha.hbs"}}
        {{/if}}
        {{#if (isAriaTypeSetting "stars")}}
        {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-intu.hbs"}}
        {{/if}}
</div>
</div>