<div class="flexrow no-wrap">
    <div class="flex1 layout carac">
        <!-- STATS -->
        {{> "systems/aria/templates/actors/character/parts/stats/character-attributes.hbs"}}
    </div>
    <div class="flex1 layout">
        <!-- ATTAQUES -->
        {{> "systems/aria/templates/actors/character/parts/stats/character-attacks.hbs"}}
    </div>
    <div class="flex1 layout">
        <!-- HP -->
        {{> "systems/aria/templates/actors/character/parts/stats/character-hp.hbs"}}
    </div>
</div>
