//@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');

/* ----------------------------------------- */
/*  LOCAL FONTS                             */
/* ----------------------------------------- */

@font-face {
  font-family: "AGaramondPro";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AGaramondPro-Regular.otf');
}

@font-face {
  font-family: "AGaramondPro";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AGaramondPro-Bold.otf');
}

@font-face {
  font-family: "AGaramondPro";
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/AGaramondPro-BoldItalic.otf');
}

@font-face {
  font-family: "AGaramondPro";
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/AGaramondPro-Italic.otf');
}

@font-face {
  font-family: "CharlemagneStd";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CharlemagneStd-Bold.otf');
}

@font-face {
  font-family: "HelveticaNeueLT";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/HelveticaNeueLTStd-Cn.otf');
}

@font-face {
  font-family: "PermanentMarker";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: "CaxtonStd-LightItalic";
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/CaxtonStd-LightItalic.otf');
}

@font-face {
  font-family: "CaxtonStd-Book";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CaxtonStd-Book.otf');
}

//@font-face {
//  font-family: "UnifrakturCook";
//  src: url('../fonts/UnifrakturCook-Bold.ttf');
//}

@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}

@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIipYSxP.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIGpYSxP.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIupYSxP.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIWpYQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ----------------------------------------- */
/*  TEXT STYLES                             */
/* ----------------------------------------- */

$font-primary: 'AGaramondPro', serif;
$font-secondary: 'CharlemagneStd', serif;
$font-handwrite: "Caveat", cursive;

$font-h3-journal: 'CaxtonStd-Book', serif;
$font-h4-journal: 'CaxtonStd-LightItalic', serif;

$font-modern: 'HelveticaNeueLT', serif;

.empty {
  //font: 14px $font-secondary;
  color:$c-darkg;
  font-style: italic;
}
strong{
  //font-family: $font-secondary;
  font-weight: bold;
}
