/* ----------------------------------------- */
/*  JOURNAL                                  */
/* ----------------------------------------- */
.sheet.journal-entry .journal-entry-content,
.editor.prosemirror,
.mce-content-body {
	background: #fff;
}

.journal-page-header{
	h1{
	font-family: $font-secondary;
	text-align: center;
	text-transform: uppercase;
	color: #2c3f45;
	font-size: 3rem;
	border:none;
	margin: 1em auto;
	position: relative;
	}

	h1::after {
		content: "";
		position: absolute;
		height: 2px;
		background: #2c3f45;
		top: 100%;
		width: 33%;
		left: 50%;
		transform: translateX(-50%);
	  }
}

.mce-content-body,
.journal-page-content{

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 0px;
		letter-spacing: 0px;
		font-weight: normal;
		border: none;
		margin: 1em auto;
		position: relative;
	}


	h1 {
		text-align: center;
		text-transform: uppercase;
		color: #2c3f45;
		font-size: 2.5rem;
		font-family: $font-secondary;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
		color: #5a6a72;
		font-size: 2.2rem;
		font-family: $font-secondary;
	}

	h1::after,
	h2::after {
		content: "";
		position: absolute;
		height: 2px;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	  }

	h1::after{
		background: #2c3f45;
		width: 20%;
	  }

	h2::after {
		background: #5a6a72;
		width: 10%;
		}

	h3 {
		color: #426266;
		font-size: 1.8rem;
		font-family: $font-h3-journal;
	}

	h4 {
		color: #8897a0;
		font-size: 1.6rem;
		margin-left: 10px;
		font-family: $font-h3-journal;
		
	}

	h5 {
		font-size: 1.4rem;
		color: #bea185;
		margin-bottom: 5px;
		margin-left: 20px;
		font-family: $font-h4-journal;
	}

	h6 {
		font-size: 1.2rem;
		color: #8998a0;
		margin-bottom: 0px;
		margin-left: 30px;
	}


	
	.aria-info,
	.aria-texte,
	.aria-regle,
	.secret,
	.aria-point-cle,
	.aria-quete-principale,
	.aria-quete-parallele,
	.aria-quete-personnelle,
	.aria-quete-principale-fin,
	.aria-quete-parallele-fin,
	.aria-quete-personnelle-fin,
	.aria-quete-resolue,
	.aria-quete-exception,
	.aria-quete-alchimiste,
	.aria-quete-magicien,
	.aria-quete-noble,
	.aria-quete-combattant,
	.aria-quete-ennemi{
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-transform: none;
		font-family: $font-h3-journal;
		font-size: 1.5rem;
		}

		h1::after{
			width: 0%;
		}

		h2::after {
			width: 0%;
			}
	}


	.aria-texte 
	{
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
		color: #5a6a72;
		}
	}

	
	.aria-regle 
	{
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
		color: #000000;
		}
	}

	.aria-info,
	.secret,
	.aria-point-cle,
	.aria-quete-principale,
	.aria-quete-parallele,
	.aria-quete-personnelle,
	.aria-quete-principale-fin,
	.aria-quete-parallele-fin,
	.aria-quete-personnelle-fin,
	.aria-quete-resolue,
	.aria-quete-exception,
	.aria-quete-alchimiste,
	.aria-quete-magicien,
	.aria-quete-noble,
	.aria-quete-combattant,
	.aria-quete-ennemi{
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #ffffff !important;
		}
	}

	.aria-block {
		margin-top: 15px;
		margin-bottom: 10px;
		border: 0px !important;
		padding: 5px 10px !important;
		border-top: 0px !important;
		border-bottom: 0px !important;
	}

	.aria-block::before{
		content: "";
		background-size: 50px 50px;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		float: left;
		padding-right: 5px;
		padding-bottom: 2px;
		margin-top: -9px;
	}


	.aria-texte {
		background: #dce2e6;
		color: #5a6a72;
		font-style: italic;
		font-weight: normal;
	}
	.aria-texte::before{
		background-image: url("../ui/icons/pins/texte.png");
	}

	.aria-regle {
		background: #f2ebe3;
	}

	.aria-regle::before{
		background-image: url("../ui/icons/pins/regles.png");
	}


	.aria-info {
		margin-top: 15px;
		margin-bottom: 10px;
		border: 0px !important;
		padding: 5px 10px !important;
		border-top: 0px !important;
		border-bottom: 0px !important;
	}

	.aria-info,
	.aria-point-cle,
	.aria-quete-principale,
	.aria-quete-parallele,
	.aria-quete-personnelle,
	.aria-quete-principale-fin,
	.aria-quete-parallele-fin,
	.aria-quete-personnelle-fin,
	.aria-quete-resolue,
	.aria-quete-exception,
	.aria-quete-alchimiste,
	.aria-quete-magicien,
	.aria-quete-noble,
	.aria-quete-combattant,
	.aria-quete-ennemi,
	.secret {
		background: #959595 !important;
		color: #ffffff;
	}


	.secret {
		margin-top: 15px;
		margin-bottom: 10px;
		border: 0px !important;
		padding: 5px 10px !important;
		border-top: 0px !important;
		border-bottom: 0px !important;
	}

	.secret.revealed {
		background: #8a9b89  !important;
	}
	.secret::before{
		background-image: url("../ui/icons/pins/MJ.png");
		content: "";
		background-size: 50px 50px;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		float: left;
		padding-right: 5px;
		padding-bottom: 2px;
		margin-top: -9px;
	}
	.secret.revealed::before{
		background-image: url("../ui/icons/pins/UnlockMJ.png");
		content: "";
		background-size: 50px 50px;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		float: left;
		padding-right: 5px;
		padding-bottom: 2px;
		margin-top: -9px;
	}

	.aria-point-cle::before{
		background-image: url("../ui/icons/pins/pointCle.png");
	}

	.aria-quete-principale::before{
		background-image: url("../ui/icons/pins/quetePrincipale.png");
	}
	.aria-quete-parallele::before{
		background-image: url("../ui/icons/pins/queteSecondaire.png");
	}
	.aria-quete-personnelle::before{
		background-image: url("../ui/icons/pins/quetePersonnelle.png");
	}
	.aria-quete-principale-fin::before{
		background-image: url("../ui/icons/pins/achevementPrincipale.png");
	}
	.aria-quete-parallele-fin::before{
		background-image: url("../ui/icons/pins/achevementSecondaire.png");
	}
	.aria-quete-personnelle-fin::before{
		background-image: url("../ui/icons/pins/achevementPersonnel.png");
	}
	.aria-quete-resolue::before{
		background-image: url("../ui/icons/pins/queteAchevee.png");
	}
	.aria-quete-exception::before{
		background-image: url("../ui/icons/pins/persoException.png");
	}
	.aria-quete-alchimiste::before{
		background-image: url("../ui/icons/pins/alchimiste.png");
	}
	.aria-quete-magicien::before{
		background-image: url("../ui/icons/pins/magicien.png");
	}
	.aria-quete-noble::before{
		background-image: url("../ui/icons/pins/noble.png");
	}
	.aria-quete-combattant::before{
		background-image: url("../ui/icons/pins/combattant.png");
	}
	.aria-quete-ennemi::before{
		background-image: url("../ui/icons/pins/dieuEnnemi.png");
	}
}

