/* ----------------------------------------- */
/*  JOURNAL                                  */
/* ----------------------------------------- */
.sheet.journal-entry .journal-entry-content,
.editor.prosemirror {
	background: #fff;
}

.journal-page-content{

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 0px;
		letter-spacing: 0px;
		font-weight: normal;
		border: none;
	}

	h1 {
		text-align: center;
		text-transform: uppercase;
		color: #2c3f45;
		font-size: 2.5rem;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
		color: #5a6a72;
		font-size: 2.2rem;
	}

	h3 {
		color: #5a6a72;
		font-size: 2rem;
	}

	h4 {
		color: #8998a0;
		font-size: 1.8rem;
		margin-left: 10px;
	}

	h5 {
		font-size: 1.5rem;
		color: #bfa27c;
		margin-bottom: 5px;
		margin-left: 20px;
	}

	h6 {
		font-size: 1.2rem;
		color: #8998a0;
		margin-bottom: 0px;
		margin-left: 30px;
	}
}

.aria-texte h1,
	.aria-texte h2,
	.aria-texte h3,
	.aria-texte h4,
	.aria-texte h5,
	.aria-texte h6 {
	  color: #5a6a72;
	  text-align: center;
	  text-transform: none;
	  font-size: 1.5rem;
	}

	
	.aria-regle h1,
	.aria-regle h2,
	.aria-regle h3,
	.aria-regle h4,
	.aria-regle h5,
	.aria-regle h6 {
	color: #000000;
	text-align: center;
	text-transform: none;
	font-size: 1.5rem;
	}

	.secret h1,
	.secret h2,
	.secret h3,
	.secret h4,
	.secret h5,
	.secret h6 {
	color: #ffffff;
	text-align: center;
	text-transform: none;
	font-size: 1.5rem;
	}

	.aria-block {
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 0px;
		border: 0px;
		padding: 5px 10px;
	}

	.aria-block::before{
		content: "";
		background-size: 50px 50px;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		float: left;
		padding-right: 5px;
		padding-bottom: 2px;
		margin-top: -9px;
	}


	.aria-texte {
		background: #dce2e6;
		color: #5a6a72;
		font-style: italic;
		font-weight: normal;
	}
	.aria-texte::before{
		background-image: url("../ui/icons/pins/texte.png");
	}

	.aria-regle {
		background: #f2ebe3;
		white-space: pre-line;
	}

	.aria-regle::before{
		background-image: url("../ui/icons/pins/regles.png");
	}

	.aria-point-cle,
	.aria-quete-principale,
	.aria-quete-parallele,
	.aria-quete-personnelle,
	.aria-quete-principale-fin,
	.aria-quete-parallele-fin,
	.aria-quete-personnelle-fin,
	.aria-quete-resolue,
	.aria-quete-exception,
	.aria-quete-alchimiste,
	.aria-quete-magicien,
	.aria-quete-noble,
	.aria-quete-combattant,
	.aria-quete-ennemi {
		background: #959595;
		color: #ffffff;
	}

	.secret {
		color: #3a3939;
	}

	.secret.revealed {
		background: #8a9b89;
	}
	.secret::before{
		background-image: url("../ui/icons/pins/MJ.png");
		content: "";
		background-size: 50px 50px;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		float: left;
		padding-right: 5px;
		padding-bottom: 2px;
		margin-top: -9px;
	}
	.secret.revealed::before{
		background-image: url("../ui/icons/pins/UnlockMJ.png");
		content: "";
		background-size: 50px 50px;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		float: left;
		padding-right: 5px;
		padding-bottom: 2px;
		margin-top: -9px;
	}

	.aria-point-cle::before{
		background-image: url("../ui/icons/pins/pointCle.png");
	}

	.aria-quete-principale::before{
		background-image: url("../ui/icons/pins/quetePrincipale.png");
	}
	.aria-quete-parallele::before{
		background-image: url("../ui/icons/pins/queteSecondaire.png");
	}
	.aria-quete-personnelle::before{
		background-image: url("../ui/icons/pins/quetePersonnelle.png");
	}
	.aria-quete-principale-fin::before{
		background-image: url("../ui/icons/pins/achevementPrincipale.png");
	}
	.aria-quete-parallele-fin::before{
		background-image: url("../ui/icons/pins/achevementSecondaire.png");
	}
	.aria-quete-personnelle-fin::before{
		background-image: url("../ui/icons/pins/achevementPersonnel.png");
	}
	.aria-quete-resolue::before{
		background-image: url("../ui/icons/pins/queteAchevee.png");
	}
	.aria-quete-exception::before{
		background-image: url("../ui/icons/pins/persoException.png");
	}
	.aria-quete-alchimiste::before{
		background-image: url("../ui/icons/pins/alchimiste.png");
	}
	.aria-quete-magicien::before{
		background-image: url("../ui/icons/pins/magicien.png");
	}
	.aria-quete-noble::before{
		background-image: url("../ui/icons/pins/noble.png");
	}
	.aria-quete-combattant::before{
		background-image: url("../ui/icons/pins/combattant.png");
	}
	.aria-quete-ennemi::before{
		background-image: url("../ui/icons/pins/dieuEnnemi.png");
	}
