<div class="chat-card" data-actor-id="{{actor.id}}">
    <header class="card-header flexrow">
        <img src="{{actor.img}}" title="{{actor.name}}"/>
        
        <div class="flexcol">
            <div class="flexrow">
                 <h2>Jet d'initiative = {{result}} </h2>
            </div>
        </div>
        
    </header>
</div>
