/* ----------------------------------------- */
/*  Layout                                   */
/* ----------------------------------------- */

.window-content {
  padding: 0;
  margin: 0;
  overflow: hidden;

  .loot-img {
    cursor: pointer;
    border: none;
    max-height: 100px;
    margin: 2px;
  }

  &>form {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    .wrap {
      padding: 0;
      margin: 0;
      min-height: 100%;
      height: 100%;
      max-height: 100%;
      overflow: hidden;

      .header {

          #banner {
            max-height: 45px;
          }

          #banner-left {
            //float:right;
            min-height: 3px;
            height: 3px;
            max-height: 45px;
          }

          #banner-right {
            float: right;
            min-height: 3px;
            height: 3px;
            max-height: 45px;
          }

          #banner-bot-left {
            //float:right;
            min-height: 3px;
            height: 3px;
            max-height: 45px;
          }

          #banner-bot-right {
            float: right;
            min-height: 3px;
            height: 3px;
            max-height: 45px;
          }
        

        #logo-banner {
          max-width: 63px;
          max-height: 50px;
          & > img {
            min-width: 63px;
            width: 63px;
            max-width: 63px;
            min-height: 50px;
            height: 50px;
            max-height: 50px;
            
          }          
        }
        
        #logo-orbe {
          max-width: 83px;
          max-height: 66px;
          & > img {
            min-width: 83px;
            width: 83px;
            max-width: 83px;
            min-height: 66px;
            height: 66px;
            max-height: 66px;
          }
        }
      }

      
      
      #logo-sceptre { 
        max-width:42px;
        max-height: 162px;
        & > img {
          min-width: 42px;
          width: 42px;
          max-width: 42px;
          min-height: 162px;
          height: 162px;
          max-height: 162px;
        }
      }

      .mainHeight_std{
        height: calc(100% - 300px);
        min-height: calc(100% - 300px);
        max-height: calc(100% - 300px);
      }

      .mainHeight_stars{
        height: calc(100% - 230px);
        min-height: calc(100% - 230px);
        max-height: calc(100% - 230px);
      }

      .mainHeight_modern{
        height: calc(100% - 150px);
        min-height: calc(100% - 150px);
        max-height: calc(100% - 150px);
      }

      .mainLootHeight_std{
        height: calc(100% - 230px);
        min-height: calc(100% - 230px);
        max-height: calc(100% - 230px);
      }

      .mainLootHeight_stars{
        height: calc(100% - 180px);
        min-height: calc(100% - 180px);
        max-height: calc(100% - 180px);
      }

      .mainLootHeight_modern{
        height: calc(100% - 180px);
        min-height: calc(100% - 180px);
        max-height: calc(100% - 180px);
      }

      .main {
        flex-wrap: nowrap;
        padding: 0;
        overflow: hidden;
        margin: 0 0 0 0;

        #banner-top {
          min-width: 32px;
          width: 32px;
          max-width: 32px;
          min-height: 100%;
          height: 100%;
          max-height: 100%;
        }

        .stats{
          align-items: stretch;
          min-height: 330px;
          height: 330px;
          max-height: 330px;
        }
        .pos_relative{
          position: relative;
          min-height: 100%;
          height: 100%;
          max-height: 100%;
        }
  
        .carac{
          min-width: 162px;
        }
  
        .caracvalue{
          min-width: 50px;
          width: 50px;
          max-width: 50px;
        }
  
        .caracname{
          min-width: 130px;
          font-size: 20px;
        }

        .hpcol{
          min-width:140px;
        }

        .hpcol1{
          min-width:140px;
          margin-right:-90px;
        }
        
        .degatcol{
          min-width:140px;
        }
        
        .attrvertalign{
          position: absolute;
          top: 50%; /* poussé de la moitié de hauteur du référent */
          transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
          min-width: 100px;
        }

        .sidebar {
          max-width: 200px;
          min-width: 50px;
          align-items: stretch;
          min-height: 100%;
          height: 100%;
          max-height: 330px;
          padding: 0 0px 0 0px;

          .profession-img {
            cursor: pointer;
            border: none;
            max-height: 330px;
          }
        }

        .detail_row{
          max-height: 69px;
        }

        .competence_row{
          align-items: stretch;
          min-height: 100%;
          height: 100%;
          max-height: 100%;
        }

        .description_row{
          align-items: stretch;
          min-height: 100px;
          height: calc(100% - 330px);
          max-height: calc(100% - 330px);
          }
          .editor {
            margin: 0;
            overflow: hidden;
            min-height: calc(100% - 30px);
            height: calc(100% - 30px);
            max-height: calc(100% - 30px);
            border: 1px solid $c-border;

            .editor-content {
              padding: 5px;
              margin: 0;
              overflow: auto;
              height: 100%;
              min-height: 100%;
              max-height: 100%;
            }
          }


        .content {
          margin: 0;
          padding: 5px 5px 5px 5px;
          height: 100%;
          min-height: 100%;
          max-height: 100%;

          .top {
            padding: 0;
          }

          .sheet-body {
            padding: 0;
            margin: 0;
            min-height: calc(100% - 28px);
            height: calc(100% - 28px);
            max-height: calc(100% - 28px);
            overflow: auto;

            .tab {
              height: 100%;
              min-height: 100%;
              max-height: 100%;
              overflow: auto;
              margin: 0;
              //padding:5px;
              padding: 0 0 0 0;

              .coin{
                margin-left: 10px;
              }

              .coin-field{
                min-width: 50px;
              }

              &.competences {
                overflow: auto;
                .competence-toolbar {
                  height:25px;
                  padding: 0;
                  margin:0;

                  .competence-tools {
                    height:25px;
                    padding: 0;
                    margin:0;

                    .competence-tool{
                      height:20px;
                      padding:2px;
                    }
                  }
                }

                .competence-list {
                  min-height:100%;
                  height:100%;
                  max-height:100%;
                }

                .competence-col-width {
                  min-width:50px;
                  width:50px;
                  max-width:50px;
                }

                .competence-link {
                  font-size: 8px;
                }

              }

              &.description {
                min-height: 100%;
                height: 100%;
                max-height: 100%;
              }

            }
          }
        }
      }
    }
  }
}

#logo-stars {
  max-width: 216px;
  max-height: 50px;
  & > img {
    min-width: 216px;
    width: 216px;
    max-width: 216px;
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    
  }
}

#logo-modern {
  max-width: 126px;
  max-height: 60px;
  padding-top: 10px;
  & > img {
    min-width: 126px;
    width: 126px;
    max-width: 126px;
    min-height: 60px;
    height: 60px;
    max-height: 60px;
    
  }
}

.table-header {
  font-weight: bold;
  min-height: 28px;
  height: 28px;
  max-height: 28px;
}

.half-spacer {
  min-height: 14px;
  height: 14px;
  max-height: 14px;
}

.spacer {
  min-height: 28px;
  height: 28px;
  max-height: 28px;
}

.layout {
  padding: 5px;
}

.weapon-image {
  background-image: url('../ui/icons/red_31.jpg');
}

.locked {
  color:lightgray;
}

.unlocked {
  cursor: pointer;
  color:$colorOlive;
}