/* ----------------------------------------- */
/*  Layout                                   */
/* ----------------------------------------- */
.window-content {
  &>form {
    .wrap {
      color: $c-black;
      font-weight: bolder;
      font-size: 16px;

      #logo-banner>img {
        border:none;
      }

      #logo-orbe>img {
        border:none;
      }
      #logo-sceptre>img {
        border:none;
      }

      .field-label {
        background: none;
        margin: 0;
        min-height: 28px;
        padding: 5px;
        flex-grow: 2;
        vertical-align: middle;
      }

      .field-label-icon-attack {
        margin-bottom: 30px;
        margin-right: 5px;
        min-width: 42px;
        width: 42px;
        max-width: 42px;
      }

      .weaponMod{
        max-width: 20px;
        margin-left: -40px;
      }

      .field-label-icon-hp {
        margin-bottom: 30px;
        margin-right: 5px;
        min-width: 42px;
        width: 42px;
        max-width: 42px;
      }

      .field-label-icon-mental {
        margin-bottom: 7px;
        margin-right: 10px;
        min-width: 42px;
        width: 42px;
        max-width: 42px;
      }

      .field-label-icon-initiative {
        margin-bottom: -2px;
        margin-right: 5px;
        min-width: 42px;
        width: 42px;
        max-width: 42px;
      }

      .field-label-icon-hit {
        margin-bottom: -2px;
        margin-right: 5px;
        min-width: 42px;
        width: 42px;
        max-width: 42px;
      }
      .field-label-icon-prot {
        margin-bottom: 8px;
        margin-right: 5px;
        min-width: 42px;
        width: 42px;
        max-width: 42px;
      }

      .field-value {
        width: 100%;
        min-height: 26px;
        height: 26px;
        max-height: 26px;
        vertical-align: middle;
        padding: 5px;

        border: none;
        background: rgba(255, 255, 255, 0);
        border-radius: 0;
        color: $c-greenblue;
        font-weight: 700;
        font: bold 24px $font-handwrite;
      }

      .dead-color{
        color:red;
      }

      .field-value.charname{
        font-size: 30px;
        min-height: 34px;
      }

      .empty{
        background-color:$c-greenblue;
        color:darkred;
        min-height: 30px;
        min-width: 200px;
        padding-top: 5px;
      }

      .profession{
        
        width: 100%;
        min-height: 26px;
        height: 26px;
        max-height: 26px;
        vertical-align: middle;
        padding: 5px;

        border: none;
        background: rgba(255, 255, 255, 0);
        border-radius: 0;
        color: $c-greenblue;
        font-weight: 700;
        font: bold 30px $font-handwrite;
      }

      .capa_score {
        padding: 0 0 0 0;
      }

      .capa_percent{
        padding-top: 3px;
        font-size: 12px;
        min-width: 15px;
        width: 15px;
        max-width: 15px;
        margin-left:-5px;
      }

      .origine{
        margin-top: 20px;
      }


      .origine_name{
        vertical-align: middle;
        margin-top: -10px;
        padding: 0;
      }

      .carte_magie{
        border:0;
        width:100px;
        margin-right:auto;
        margin-left:auto;
        margin-bottom: 20px;
      }      
      


      .icon_d100{
        background: center / contain no-repeat url("../ui/d100.png");
        min-width: 16px;
        width: 16px;
        max-width: 16px;
        min-height: 16px;
        height: 16px;
        max-height: 16px;
        margin:auto;
      }

      .icon_d100:hover{
        filter: drop-shadow(0 0 8px #4f7783);
      }

      .cancel_margin_top{
        margin-top:3px;
      }

      .item-name .item_tooltiptext {
        visibility: hidden;
        background: url("../ui/fond_hover_comp.png");
        background-size: cover;
        color: #fffdea;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        margin-left: 0px;
        width: 60%;
        left: 35%;
        opacity: 0;
        top:335px;
      }
    
      .item-name:hover .item_tooltiptext {
        visibility: visible;
        opacity: 1;
        transition: 1s;
        p{
          margin:0 5px 0 5px;
          text-shadow: initial;
          cursor: auto;
          font-weight: 100;
          line-height: 18px;
        }
        h1{
          margin:0 5px 0 5px;
          font-weight: 700;
          line-height: 18px;
          font-size: 16px;
          border-bottom: 1px solid #000000;
        }
      }

      .competence_name{
        margin: 0 0 0 0;
        padding-left: 5px;
        font-size: 16px;
        font-weight: bold;
        color: $c-black;
      }


      .competence_name .comp_tooltiptext {
        visibility: hidden;
        //background-color: $c-greenbluelowtrans;
        background: url("../ui/fond_hover_comp.png");
        background-size: cover;
        color: #fffdea;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 100;
        margin-left: 0px;
       // bottom:0;
        opacity: 0;
        width: 50%;
        left: 49%;
        top:300px;
      }
           
      .competence_name:hover .comp_tooltiptext {
        visibility: visible;
        opacity: 1;
        transition: 1s;
        p{
          margin:0 5px 0 5px;
          text-shadow: initial;
          cursor: auto;
          font-weight: 100;
          line-height: 18px;
        }
        h1{
          margin:0 5px 0 5px;
          font-weight: 700;
          line-height: 18px;
          font-size: 16px;
          border-bottom: 1px solid #000000;
        }
      }

      .competence_name .compspe_tooltiptext {
        visibility: hidden;
        //background-color: $c-greenbluelowtrans;
        background: url("../ui/fond_hover_comp.png");
        background-size: cover;
        color: #fffdea;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 10;
       // bottom:0;
        opacity: 0;
        width: 50%;
        right: 49%;
        top:300px;
      }

      
      .competence_name:hover .compspe_tooltiptext {
        visibility: visible;
        opacity: 1;
        transition: 1s;
        p{
          margin:0 5px 0 5px;
          text-shadow: initial;
          cursor: auto;
          font-weight: 100;
          line-height: 18px;
        }
        h1{
          margin:0 5px 0 5px;
          font-weight: 700;
          line-height: 18px;
          font-size: 16px;
          border-bottom: 1px solid #000000;
        }
      }

      .item-delete:hover{
        text-shadow: 0 0 8px $c-red;
      }

      .header {
          #banner-left {
            margin-top: 30px;
            background: url("../ui/deco-aria.png");
          }
          #banner-right {
            margin-top: 30px;
            background: url("../ui/deco-aria.png");
          }
          #banner-bot-left {
            margin-top: 50px;
            background: url("../ui/deco-aria.png");
          }
          #banner-bot-right {
            margin-top: 50px;
            background: url("../ui/deco-aria.png");
          }
      }
      
      .main {

        #banner-top {
          margin-top: 30px;
          background: center / contain no-repeat url("../ui/deco-aria-vert.png");
        }

        .content{
          .drop-field {
            background-color: rgba(255, 255, 255, 0);
            .field-value {
              background: transparent;
            }
          }
        }
      }
    }
    .aria-bg-std{
      background: url("../ui/bgNormal.webp");
      background-size: cover;

      font-family: $font-primary;
      .titleFont {
        font-family: $font-secondary;
        line-height: 22px;
      }
    }
    .aria-bg-modern{
      background: url("../ui/bgModern.webp");
      background-size: cover;

      font-family: $font-modern;
      .titleFont {
        font-family: $font-modern;
        line-height: 22px;
      }
    }
    .aria-bg-stars{
      background: url("../ui/bgStars.webp");
      background-size: cover;

      font-family: $font-modern;
      .titleFont {
        font-family: $font-modern;
        line-height: 22px;
      }
    }

   
    .calc-comp .calc-comp-tooltip {
      visibility: hidden;
      //background-color: $c-greenbluelowtrans;
      background: url("../ui/fond_hover_comp.png");
      background-size: cover;
      color: #fffdea;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 10;
      margin-left: 0px;
      bottom:0;
      opacity: 0;
      min-width: 250px;
    }

    .calc-comp:hover .calc-comp-tooltip {
      visibility: visible;
      opacity: 1;
      transition: 1s;
      p{
        margin:0 5px 0 5px;
        text-shadow: initial;
        cursor: auto;
        font-weight: 100;
        line-height: 18px;
      }
    }
    
  }
}

#logo-stars>img {
  border:none;
}

#logo-modern>img {
  border:none;
}

#life_icon{
  background: center / contain no-repeat url("../ui/pv.png");
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 30px;
}

#mental_icon{
  background: center / contain no-repeat url("../ui/sante_mentale.png");
  min-height: 60px;
  max-height: 60px;
  font-size: 30px;
}

#hit_icon{
  background: center / contain no-repeat url("../ui/blessure.png");
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 30px;
}

#initiative_icon{
  background: center / contain no-repeat url("../ui/initiative.png");
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 30px;
}

#protection_icon{
  background: center / contain no-repeat url("../ui/protection.png");
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 30px;
}

#degat_icon{
  background: center / contain no-repeat url("../ui/degats.png");
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  min-width: 112px;
  width: 112px;
  max-width: 112px;
  font-size: 30px;
}

#carac_img{
  background: center / contain no-repeat url("../ui/carac.png");
  min-height: 330px;
  min-width: 120px;
  float:right;
  margin-top: -8px;
  margin-right: -27px;
}

.carac_block{
margin-top: 12px;
}

.carac_row
{
  min-height: 58px;
}

.carac_label
{
  min-height: 58px;
}

.col_carac{
margin-top:0px;
}

.area-value {
  border: none;
  background: $c-white;
  font-size: 1em;
}

.ellipsis {
  @include ellipsis;
}

.titre-general{
  font-size: 20px;
} 

.box-shadow {
  box-shadow: 1px 1px 2px gray;
}

.field-area {
  border: none;
  width: 100%;
  vertical-align: middle;
  background: transparent;
  font-size: 13px;
}

.aria-aria-compendium-pack {
  cursor: pointer;
  min-height: 26px;
  padding: 7px 0px 0px 0px !important;
}

.row {
  margin-top: 1px;
  background: transparent;
}

.cell {
  margin-left: 1px;
}

.btn {
  cursor: pointer;
  color: $c-darkbrown;
  border: 1px solid $c-border;
  box-shadow: 0 0 10px $c-shadow inset;
  background:rgba(0,0,0,0.05);
  margin-left: 1px;
  &:hover{
    color: $c-darkbrown;
    background:rgba(0,0,0,0.3);
    text-shadow: none;
    border: 1px outset $c-border;
  }
  &:active{
    border: 1px inset $c-border;
    background:rgba(0,0,0,0.3);
    color: $c-darkbrown;
  }
}


.tabs {
  font-size: 14px;
  color: $c-darkbrown;
  text-align: center;
  margin: 0 0;

  .item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    border: 1px solid $c-border;
    margin: 0;
    height: 28px;
    box-shadow: 0 0 10px $c-shadow inset;
    /*padding: 3px 3px 0 3px;*/
    background:rgba(0,0,0,0.05);
    &:hover {
      color: $c-darkbrown;
      background:rgba(0,0,0,0.2);
      text-shadow: none;
    }
    &.active {
      color: $c-darkbrown;
      border: 1px inset $c-border;
      background:$c-greenbluetrans;
      text-shadow: none;
    }
  }
}


/* ----------------------------------------- */
/*  Sidebar                                  */
/* ----------------------------------------- */

.origines-controls,
.profession-controls {
  color: $c-darkbrown;
  visibility: hidden;
  flex: 0 0 18px;
  border:1px solid transparent;
}
div:hover>div.origines-controls,
div:hover>div.profession-controls {
  visibility: visible;
}

.sidebar .charname{
  font-family: $font-handwrite;
  font-size: 2.5em;

  -webkit-text-fill-color: $c-white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $c-darkgreen;
  -webkit-font-smoothing: antialiased;
  text-shadow: 3px 3px 10px $c-black;
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 80px;
  /*color: $c-darkgreen;*/
  background-color: transparent;
}


/* ----------------------------------------- */
/*  Custom classes                           */
/* ----------------------------------------- */
.nameLoot{
  min-height: 40px;
  background:rgba(255, 255, 255, 0) !important;
}

.inventory h2{
  font-size: 16px;
  text-transform: uppercase;
  color: $c-darkbrown;
  border-bottom: 1px solid $c-lightg;
}

label.input-label{
  border:1px solid red;
  text-align: center;
  vertical-align: center;
  padding-bottom:7px;
  margin:0;
}

.readonly {
  box-shadow: 0 0 10px $c-shadow inset;
}


.label-text {
  font-size: 14px;
  color: $c-darkbrown;
  text-align: center;
  border: 1px solid $c-border;
  margin: 0;
  height: 28px;
  box-shadow: 0 0 10px $c-shadow inset;
  padding: 3px 3px 0 3px;
  flex-grow: 2;
  background: none;
}

strong{
  font-weight: bold;
}

.collapsed {
  display: none;
}

