/* ----------------------------------------- */
/*  Layout                                   */
/* ----------------------------------------- */
.window-content {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  &>form {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    .wrap {
      padding: 0;
      margin: 0;
      min-height: 100%;
      height: 100%;
      max-height: 100%;
      overflow: hidden;

      .header {
        min-height: 60px;
        height: 60px;
        max-height: 60px;
          #banner {
            max-height: 60px;
          }

          #banner-left {
            //float:right;
            min-height: 3px;
            height: 3px;
            max-height: 60px;
          }

          #banner-right {
            float: right;
            min-height: 3px;
            height: 3px;
            max-height: 60px;
          }

          #banner-bot-left {
            //float:right;
            min-height: 3px;
            height: 3px;
            max-height: 60px;
          }

          #banner-bot-right {
            float: right;
            min-height: 3px;
            height: 3px;
            max-height: 60px;
          }
        

        #logo-banner {
          max-width: 85px;
          max-height: 60px;
          & > img {
            min-width: 75px;
            width: 75px;
            max-width: 75px;
            min-height: 60px;
            height: 60px;
            max-height: 60px;
            
          }
        }
        
        #logo-orbe {
          max-width: 95px;
          max-height: 76px;
          & > img {
            min-width: 95px;
            width: 95px;
            max-width: 95px;
            min-height: 76px;
            height: 76px;
            max-height: 76px;
          }
        }
      }

      .main {
        flex-wrap: nowrap;
        padding: 0;
        overflow: hidden;
        margin: 0 0 0 0;
        height: calc(100% - 241px);
        min-height: calc(100% - 241px);
        max-height: calc(100% - 241px);

        .sidebar {
          max-width: 250px;
          padding: 0 0px 0 0px;
          margin-left: 5px;
          height: 100%;
          position: relative;

          .profile-img {
            cursor: pointer;
            border: none;
            margin-top: 0;
            margin-left: 0;
            flex: 0 0 240px;
          }
        }


        .content {
          margin: 0;
          padding: 5px 5px 5px 5px;
          height: 100%;
          min-height: 100%;
          max-height: 100%;

          .top {
            padding: 0;
          }

          .sheet-body {
            padding: 0;
            margin: 0;
            min-height: calc(100% - 100px);
            height: calc(100% - 100px);
            max-height: calc(100% - 100px);
            overflow: auto;

            .tab {
              height: 100%;
              min-height: 100%;
              max-height: 100%;
              overflow: auto;
              margin: 0;
              //padding:5px;
              padding: 0 0 0 0;

              .coin{
                margin-left: 10px;
              }

              .coin-field{
                min-width: 50px;
              }

              &.capacities {
                overflow: auto;

                .path-list {
                  //border:1px solid $c-lightg;
                  box-shadow: 0 4px 3px -3px gray;
                  margin: 0 0 5px 0;
                  padding: 3px;
                  //min-height: 205px;
                  //height: 205px;
                  max-height: 205px;
                  overflow: hidden;

                  .grid {
                    //min-height: 150px;
                    //height: 150px;
                    max-height: 150px;
                    overflow: auto;
                  }

                  &.encounter {
                    min-height: 100px;
                    height: 100px;
                    max-height: 100px;
                    overflow: hidden;

                    .grid {
                      min-height: 100px;
                      height: 100px;
                      max-height: 100px;
                      overflow: auto;
                    }
                  }

                }
                .capacity-toolbar {
                  height:25px;
                  padding: 0;
                  margin:0;

                  .capacity-tools {
                    height:25px;
                    padding: 0;
                    margin:0;

                    .capacity-tool{
                      height:20px;
                      padding:2px;
                    }
                  }
                }

                .capacity-list {
                  min-height:100%;
                  height:100%;
                  max-height:100%;
                  overflow: auto;
                }
              }

              &.description {
                .editor {
                  margin: 0;
                  overflow: hidden;
                  min-height: calc(100% - 114px);
                  height: calc(100% - 114px);
                  max-height: calc(100% - 114px);

                  .editor-content {
                    padding: 5px;
                    margin: 0;
                    overflow: auto;
                    height: 100%;
                    min-height: 100%;
                    max-height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.hpcol{
  max-width:300px;
  min-width:140;
}

.degatcol{
  max-width:300px;
}

.attrvertalign{
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}


.table-header {
  font-weight: bold;
  min-height: 28px;
  height: 28px;
  max-height: 28px;
}

.half-spacer {
  min-height: 14px;
  height: 14px;
  max-height: 14px;
}

.spacer {
  min-height: 28px;
  height: 28px;
  max-height: 28px;
}

.layout {
  padding: 5px;
}

.weapon-image {
  background-image: url('../ui/icons/red_31.jpg');
}

.locked {
  cursor: not-allowed;
  color:lightgray;
}

.unlocked {
  cursor: pointer;
  color:$colorOlive;
}