
 <div class="flexrow">
    <div class=" flex1">
        <div class="center cell">
            <div class="attrvertalign">
                <img class="loot-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
        </div>
    </div>
</div>